header {
    background-image: url(logo.jpg);
}

body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    width: 100vw;
    background-size: 115%;
    box-sizing: border-box;
}
.div-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, 250px);
    justify-items: center;
    margin-top: 100px; 
    row-gap: 50px;
    
    
   
}

.contIndividual {
    border-radius: 10px;
    background: linear-gradient(to top,#b22dc2 , transparent);
    width: 270px;
    text-align: center;
   
}

p {
    text-align: center;
    font-size: 17px;
}









